
#gameover { position: fixed; top: 40%; left: 40%; visibility: hidden; }

img { position: fixed; }

#einhorn { top: 200px; left: 300px; }

.runter { transform: rotate(10deg); }
.rauf { transform: rotate(-10deg); }

#wolke1 { top: 400px; left: 600px; }
#wolke2 { top: 100px; left: 150px; }
#wolke3 { top: 170px; left: 250px; }
#wolke4 { top: 220px; left: 450px; }
#wolke5 { top: 300px; left: 400px; }
